body{
    background-color:cadetblue;
    background-image: url("sh.jpg");
    background-size:cover;
    background-attachment:scroll;
    display:inline;
    
}
.refresh:hover{
    transform:scale(1.1);
}
.refresh:active{
    cursor:progress;
}
.refresh{
    border-radius:50%;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}


label{
    color:red;
}
.search{
width: 60%;
padding: 4px;
font-size: 10px;
border: 2px solid #6a5acd; 
border-radius: 8px; 
outline: none;
transition: 0.3s;
height:20.3px;

    
}



/* .click:active{
    cursor:progress; */
/* } */
select:hover{
transform:scale(1.1);
cursor:pointer;
}
.items{
    display:flex;
    justify-content:space-evenly;
}
.price{
    
    color:purple;
    background-color:aquamarine;
}
/* .click{
    background: linear-gradient(45deg, #6e7058, #c0cf40);
    color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 2px 3px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
       
}
.click:hover{
    background: linear-gradient(45deg, #c0cf40, #6e7058); 
    transform: scale(1.07);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
} */
select{
    border-radius:8px;
    padding:2px 3px;
    border:none;
    width:80px;
}
.mohan{
    width:350px;
}
#bibi{
    color:black;
    margin-bottom:-10px;
    background-color:white;
    border-radius:30%;
    margin-left:-33px;
    border: none;
    cursor:pointer;
    
    
    
}
#bibi:hover{
    color:blue;
    transform:scale(1.02)
}